In [1]:
import pandas as pd

In [2]:
folder="models/fl_bert_22_06_2022_12:04:58/"
tasks=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli", "qnli", "rte"]
data=pd.DataFrame(columns=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli-m", "mnli-mm", "qnli", "rte"], index=['glue_run1', 'glue_run2', 'glue_run3'])
for run in range(1,4):
    l=[]
    for task in tasks:
        with open(folder+f"glue_run{run}/"+task+".log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    data.loc[f"glue_run{run}"]=l
data.loc["average"]=data.mean(axis=0)
data["average"]=data.mean(axis=1)
data=data.apply(lambda x: [round(f, 2) for f in x])
data.to_csv(folder+"glue_results.csv")
data

,cola,sst2,mrpc,stsb,qqp,mnli-m,mnli-mm,qnli,rte,average
glue_run1,46.87,91.52,89.53,88.09,87.71,82.39,83.18,90.12,66.88,80.70
glue_run2,50.47,90.96,89.98,87.77,87.67,82.45,83.08,89.88,62.19,80.49
glue_run3,48.89,91.18,90.13,87.85,87.37,82.23,82.61,90.44,64.69,80.60
average,48.74,91.22,89.88,87.90,87.58,82.36,82.95,90.15,64.58,80.60