In [1]:
import torch
import pandas as pd
from tqdm.auto import tqdm

/home/hrenduchinta/LM-pretraining/ingenious-env/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def analyse_subsets(folder):
    subsets=[]
    for i in range(0, 250, 25):
        if i==0:
            subsets.append(set(torch.load(folder+"subset_indices_after_step_0.pt").tolist()))
        else:
            subsets.append(set(torch.load(folder+f"subset_indices_after_step_{i}000.pt").tolist()))
    df=pd.DataFrame()
    df["subsets"]=["{}K".format(i) for i in range(0, 250, 25)]
    for i in range(0, 250, 25):
        df["{}K".format(i)]=[0 for j in range(0, 250, 25)]
    df.set_index("subsets", inplace=True)
    pbar=tqdm(range(55))
    for i in range(0, 250, 25):
        for j in range(i, 250, 25):
            df["{}K".format(i)]["{}K".format(j)]=len(subsets[i//25].intersection(subsets[j//25]))
            pbar.update(1)
    print("Union")
    s=subsets[0]
    union=[]
    union.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.union(subsets[i])
        union.append(len(s))
    print(union)
    print("Intersection")
    s=subsets[0]
    intersection=[]
    intersection.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.intersection(subsets[i])
        intersection.append(len(s))
    print(intersection)
    df.loc["union"]=union
    df.loc["intersection"]=intersection
    return df

In [3]:
folder="subsets/fl_bert_19_06_2022_17:13:47/"
df=analyse_subsets(folder)
df.to_csv(folder+"analysis.csv")
df

100%|██████████| 55/55 [01:26<00:00,  1.05s/it]

Union
[10385854, 20771708, 31157562, 39147809, 40789864, 41227459, 41381744, 41448577, 41483620, 41503219]
Intersection

100%|██████████| 55/55 [05:48<00:00,  6.34s/it]

[10385854, 0, 0, 0, 0, 0, 0, 0, 0, 0]

,0K,25K,50K,75K,100K,125K,150K,175K,200K,225K
subsets,,,,,,,,,,
0K,10385854,0,0,0,0,0,0,0,0,0
25K,0,10385854,0,0,0,0,0,0,0,0
50K,0,0,10385854,0,0,0,0,0,0,0
75K,789258,805326,801023,10385854,0,0,0,0,0,0
100K,2261850,2297931,2286547,1897471,10385854,0,0,0,0,0
125K,2444969,2474978,2466560,2050058,511694,10385854,0,0,0,0
150K,2475529,2482430,2482978,2069162,534894,186576,10385854,0,0,0
175K,2508480,2506571,2507126,2240862,1256704,1021882,953633,10385854,0,0
200K,2568665,2578588,2578133,2529560,2361293,2313211,2280773,1815461,10385854,0
225K,2581972,2592129,2588687,2570970,2492580,2469629,2453788,1961179,521953,10385854
union,10385854,20771708,31157562,39147809,40789864,41227459,41381744,41448577,41483620,41503219
intersection,10385854,0,0,0,0,0,0,0,0,0

In [8]:
def analyse_subsets(folder):
    subsets=[]
    idx=[40570]
    idx.extend(list(range(50000, 250000, 25000)))
    for i in idx:
        subsets.append(set(torch.load(folder+f"subset_indices_after_step_{i}.pt").tolist()))
    df=pd.DataFrame()
    df["subsets"]=[f"{i}" for i in idx]
    for i in idx:
        df[f"{i}"]=[0 for i in idx]
    df.set_index("subsets", inplace=True)
    pbar=tqdm(range(45))
    for i in range(len(idx)):
        for j in range(i, len(idx)):
            df[f"{idx[i]}"][f"{idx[j]}"]=len(subsets[i].intersection(subsets[j]))
            pbar.update(1)
    print("Union")
    s=subsets[0]
    union=[]
    union.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.union(subsets[i])
        union.append(len(s))
    print(union)
    print("Intersection")
    s=subsets[0]
    intersection=[]
    intersection.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.intersection(subsets[i])
        intersection.append(len(s))
    print(intersection)
    df.loc["union"]=union
    df.loc["intersection"]=intersection
    return df

In [11]:
folder="subsets/temp/random_online_10_06_2022_14.05.16/"
df=analyse_subsets(folder)
df.to_csv(folder+"analysis.csv")
df

100%|██████████| 55/55 [01:00<00:00,  1.00s/it]

Union
[10385854, 18176180, 24018251, 28403159, 31688713, 34150125, 35999843, 37385750, 38425791, 39206179]
Intersection

100%|██████████| 55/55 [01:48<00:00,  1.96s/it]

[10385854, 2595528, 648280, 162479, 40818, 10248, 2559, 632, 159, 39]

,0K,25K,50K,75K,100K,125K,150K,175K,200K,225K
subsets,,,,,,,,,,
0K,10385854,0,0,0,0,0,0,0,0,0
25K,2595528,10385854,0,0,0,0,0,0,0,0
50K,2596472,2595591,10385854,0,0,0,0,0,0,0
75K,2593656,2596179,2595288,10385854,0,0,0,0,0,0
100K,2596002,2595773,2596715,2595290,10385854,0,0,0,0,0
125K,2597024,2597851,2598921,2595876,2595982,10385854,0,0,0,0
150K,2593670,2595328,2595813,2595551,2597605,2596033,10385854,0,0,0
175K,2597174,2594381,2595813,2595309,2596422,2596728,2596189,10385854,0,0
200K,2598086,2594588,2596623,2595835,2593775,2596648,2596825,2596719,10385854,0
225K,2595436,2597727,2595686,2595704,2595641,2595664,2598074,2595844,2595945,10385854
union,10385854,18176180,24018251,28403159,31688713,34150125,35999843,37385750,38425791,39206179
intersection,10385854,2595528,648280,162479,40818,10248,2559,632,159,39