In [1]:
import pandas as pd

In [2]:
folder="models/fl_bert_02_07_2022_10:41:35/"
tasks=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli", "qnli", "rte"]
data=pd.DataFrame(columns=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli-m", "mnli-mm", "qnli", "rte"], index=['glue_run1', 'glue_run2', 'glue_run3'])
for run in range(1,4):
    l=[]
    for task in tasks:
        with open(folder+f"glue_run{run}/"+task+".log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    data.loc[f"glue_run{run}"]=l
data.loc["average"]=data.mean(axis=0)
data["average"]=data.mean(axis=1)
data=data.apply(lambda x: [round(f, 2) for f in x])
data.to_csv(folder+"glue_results.csv")
data

,cola,sst2,mrpc,stsb,qqp,mnli-m,mnli-mm,qnli,rte,average
glue_run1,49.90,91.07,89.31,87.24,87.28,81.99,81.98,89.75,65.31,80.43
glue_run2,52.90,89.96,90.15,87.44,87.51,82.22,82.70,89.86,65.31,80.89
glue_run3,51.04,90.74,89.03,87.08,87.44,81.93,82.69,89.73,61.56,80.14
average,51.28,90.59,89.50,87.25,87.41,82.05,82.46,89.78,64.06,80.49