In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
model_path="/home/sumbhati/ingenious/LM-pretraining/models/fl_from_20_07_2022_14.32.03_bert_13_09_2022_18:24:30"
data=pd.DataFrame(columns=["cola", "mrpc", "rte", "stsb", "sst2", "mnli-m", "mnli-mm", "qnli", "qqp"], index=[f"glue_run_{i}" for i in range(1, 21)])
for run in range(1, 21):
    if run>5:
        tasks=["cola", "mrpc", "rte", "stsb"]
    else:
        tasks=["cola", "mrpc", "rte", "stsb", "sst2", "mnli", "qnli", "qqp"]
    l=[]
    for task in tasks:
        with open(f"{model_path}/test_glue_run_{run}/{task}.log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    if run>5:
        l.extend([np.nan]*5)
    data.loc[f"glue_run_{run}"]=l
data.loc["average"]=data.mean(axis=0, skipna=True)
data.loc["stddev"]=data.std(axis=0, skipna=True)
data.loc["decrement_avg"]=[np.nan for i in range(9)]
data.loc["maximum"]=data.max(axis=0, skipna=True)
data.loc["decrement_max"]=[np.nan for i in range(9)]
data.to_csv(f"{model_path}/glue_results.csv")

In [6]:
data

,cola,mrpc,rte,stsb,sst2,mnli-m,mnli-mm,qnli,qqp
glue_run_1,50.818949,91.304348,65.429688,88.979021,90.820312,82.96274,83.563702,90.536222,88.032279
glue_run_2,52.817308,90.040928,63.671875,88.644546,90.136719,82.902644,83.323317,90.607244,87.868127
glue_run_3,51.45355,89.863014,64.0625,88.700161,90.527344,82.602163,83.914263,90.642756,87.810076
glue_run_4,54.338619,90.603086,65.820312,88.717302,89.648438,83.012821,83.603766,90.429688,87.698784
glue_run_5,53.645731,91.034483,64.84375,88.761147,90.722656,82.311699,83.453526,90.536222,87.594751
glue_run_6,54.302427,91.492329,66.015625,89.102822,NaN,NaN,NaN,NaN,NaN
glue_run_7,54.670165,91.188811,64.257812,89.186904,NaN,NaN,NaN,NaN,NaN
glue_run_8,54.003391,91.327913,65.820312,88.392229,NaN,NaN,NaN,NaN,NaN
glue_run_9,54.105795,91.034483,62.5,88.984721,NaN,NaN,NaN,NaN,NaN
glue_run_10,53.005265,90.463215,67.578125,88.839071,NaN,NaN,NaN,NaN,NaN
glue_run_11,54.915695,91.388889,63.085938,88.523555,NaN,NaN,NaN,NaN,NaN
glue_run_12,54.509815,91.032609,63.867188,88.988084,NaN,NaN,NaN,NaN,NaN
glue_run_13,52.522885,90.958904,64.648438,88.641587,NaN,NaN,NaN,NaN,NaN
glue_run_14,53.063783,90.81225,65.039062,88.791572,NaN,NaN,NaN,NaN,NaN
glue_run_15,53.9371,91.412742,63.28125,88.446817,NaN,NaN,NaN,NaN,NaN
glue_run_16,53.744011,90.456432,65.820312,88.709907,NaN,NaN,NaN,NaN,NaN
glue_run_17,53.817281,92.411924,66.601562,89.052036,NaN,NaN,NaN,NaN,NaN
glue_run_18,55.309923,90.287278,66.796875,88.376631,NaN,NaN,NaN,NaN,NaN
glue_run_19,54.084857,91.530055,66.40625,89.08861,NaN,NaN,NaN,NaN,NaN
glue_run_20,53.169139,91.712707,65.234375,88.650481,NaN,NaN,NaN,NaN,NaN
average,53.611785,91.01782,65.039062,88.77886,90.371094,82.758413,83.571715,90.550426,87.800803
stddev,1.082649,0.594892,1.326113,0.237397,0.430574,0.265045,0.197028,0.073122,0.14904
decrement_avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
maximum,55.309923,92.411924,67.578125,89.186904,90.820312,83.012821,83.914263,90.642756,88.032279
decrement_max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN