In [1]:
import pandas as pd

In [2]:
folder="/home/sumbhati/ingenious/LM-pretraining/models/fl_from_fl_19_07_2022_bert_20_07_2022_14:32:03/"
tasks=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli", "qnli", "rte"]
data=pd.DataFrame(columns=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli-m", "mnli-mm", "qnli", "rte"], index=['glue_run1', 'glue_run2', 'glue_run3'])
for run in range(1,4):
    l=[]
    for task in tasks:
        with open(folder+f"glue_run{run}/"+task+".log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    data.loc[f"glue_run{run}"]=l
data.loc["average"]=data.mean(axis=0)
data["average"]=data.mean(axis=1)
data=data.apply(lambda x: [round(f, 2) for f in x])
data.to_csv(folder+"glue_results.csv")
data

,cola,sst2,mrpc,stsb,qqp,mnli-m,mnli-mm,qnli,rte,average
glue_run1,54.69,90.51,89.91,88.04,87.69,82.18,82.70,90.21,67.50,81.49
glue_run2,53.70,90.96,90.14,88.26,87.51,81.81,82.90,90.01,64.06,81.04
glue_run3,55.15,91.07,89.67,88.08,87.48,82.28,82.88,90.19,65.94,81.42
average,54.52,90.85,89.90,88.13,87.56,82.09,82.83,90.13,65.83,81.32