In [1]:
import pandas as pd

In [3]:
folder="/home/sumbhati/ingenious/LM-pretraining/models/fl_bert_30_08_2022_17:12:40/"
tasks=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli", "qnli", "rte"]
data=pd.DataFrame(columns=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli-m", "mnli-mm", "qnli", "rte"], index=['glue_run1', 'glue_run2', 'glue_run3'])
for run in range(1,4):
    l=[]
    for task in tasks:
        with open(folder+f"glue_run_{run}/"+task+".log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    data.loc[f"glue_run{run}"]=l
data.loc["average"]=data.mean(axis=0)
data["average"]=data.mean(axis=1)
data=data.apply(lambda x: [round(f, 2) for f in x])
data.to_csv(folder+"glue_results.csv")
data

,cola,sst2,mrpc,stsb,qqp,mnli-m,mnli-mm,qnli,rte,average
glue_run1,50.97,91.07,90.79,88.35,87.40,82.11,83.03,89.88,65.00,80.96
glue_run2,51.25,91.52,90.08,88.30,87.60,82.25,83.17,90.33,67.81,81.37
glue_run3,51.01,90.40,90.20,88.25,87.62,82.30,82.95,90.13,64.06,80.77
average,51.08,91.00,90.36,88.30,87.54,82.22,83.05,90.12,65.62,81.03