In [1]:
import pandas as pd

In [2]:
folder="/home/sumbhati/ingenious/LM-pretraining/models/fl_bert_31_07_2022_10:27:29/"
tasks=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli", "qnli", "rte"]
data=pd.DataFrame(columns=["cola", "sst2", "mrpc", "stsb", "qqp", "mnli-m", "mnli-mm", "qnli", "rte"], index=['glue_run1', 'glue_run2', 'glue_run3'])
for run in range(1,4):
    l=[]
    for task in tasks:
        with open(folder+f"glue_run{run}/"+task+".log", "r") as f:
            lines=f.readlines()
            if task=="mnli":
                l.append(100*float(lines[-2].split()[-1].rstrip().rstrip('}')))
            l.append(100*float(lines[-1].split()[-1].rstrip().rstrip('}')))
    data.loc[f"glue_run{run}"]=l
data.loc["average"]=data.mean(axis=0)
data["average"]=data.mean(axis=1)
data=data.apply(lambda x: [round(f, 2) for f in x])
data.to_csv(folder+"glue_results.csv")
data

,cola,sst2,mrpc,stsb,qqp,mnli-m,mnli-mm,qnli,rte,average
glue_run1,50.39,90.85,89.38,88.74,87.54,82.72,83.04,90.41,66.56,81.07
glue_run2,47.69,91.52,89.52,88.46,87.52,82.55,82.68,90.82,67.50,80.92
glue_run3,50.64,90.96,89.78,88.00,84.83,82.39,83.07,90.19,63.44,80.37
average,49.57,91.11,89.56,88.40,86.63,82.55,82.93,90.47,65.83,80.78