In [1]:
import torch
import pandas as pd
from tqdm.auto import tqdm

/home/sumbhati/ingenious/LM-pretraining/ingenious-env/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
def analyse_subsets(folder):
    subsets=[]
    idx=[]
    idx.extend(list(range(0, 250000, 25000)))
    for i in idx:
        subsets.append(set(torch.load(folder+f"subset_indices_after_step_{i}.pt").tolist()))
    df=pd.DataFrame()
    df["subsets"]=[f"{i}" for i in idx]
    for i in idx:
        df[f"{i}"]=[0 for i in idx]
    df.set_index("subsets", inplace=True)
    pbar=tqdm(range(45))
    for i in range(len(idx)):
        for j in range(i, len(idx)):
            df[f"{idx[i]}"][f"{idx[j]}"]=len(subsets[i].intersection(subsets[j]))
            pbar.update(1)
    print("Union")
    s=subsets[0]
    union=[]
    union.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.union(subsets[i])
        union.append(len(s))
    print(union)
    print("Intersection")
    s=subsets[0]
    intersection=[]
    intersection.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.intersection(subsets[i])
        intersection.append(len(s))
    print(intersection)
    df.loc["union"]=union
    df.loc["intersection"]=intersection
    return df

In [5]:
folder="/home/sumbhati/ingenious/LM-pretraining/subsets/tfidf/"
df=analyse_subsets(folder)
df.to_csv(folder+"analysis.csv")
df

55it [06:18,  6.81s/it]

Union
[10390000, 17169868, 21808375, 25085562, 27471706, 29250064, 30604979, 31661100, 32500331, 33179912]
Intersection
[10390000, 3610132, 1472699, 689702, 368965, 222294, 147830, 105687, 79518, 62336]

55it [10:11, 11.12s/it]

,0,25000,50000,75000,100000,125000,150000,175000,200000,225000
subsets,,,,,,,,,,
0,10390000,0,0,0,0,0,0,0,0,0
25000,3610132,10390000,0,0,0,0,0,0,0,0
50000,3611833,3612359,10390000,0,0,0,0,0,0,0
75000,3612357,3614205,3614788,10390000,0,0,0,0,0,0
100000,3611305,3612124,3613877,3612142,10390000,0,0,0,0,0
125000,3610229,3613180,3614462,3612966,3612012,10390000,0,0,0,0
150000,3611754,3611665,3613436,3614450,3612829,3612276,10390000,0,0,0
175000,3612816,3612504,3614904,3613760,3612312,3612053,3611909,10390000,0,0
200000,3610674,3611587,3614444,3613300,3613230,3613403,3613491,3611777,10390000,0
225000,3613278,3613972,3612920,3612784,3615772,3613176,3615302,3613566,3613592,10390000
union,10390000,17169868,21808375,25085562,27471706,29250064,30604979,31661100,32500331,33179912
intersection,10390000,3610132,1472699,689702,368965,222294,147830,105687,79518,62336