In [1]:
import torch
import pandas as pd
from tqdm.auto import tqdm

/home/sumbhati/ingenious/LM-pretraining/ingenious-env/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
def analyse_subsets(folder):
    subsets=[]
    idx=[]
    idx.extend(list(range(0, 150000, 15000)))
    for i in idx:
        subsets.append(set(torch.load(folder+f"subset_indices_after_step_{i}.pt").tolist()))
    df=pd.DataFrame()
    df["subsets"]=[f"{i}" for i in idx]
    for i in idx:
        df[f"{i}"]=[0 for i in idx]
    df.set_index("subsets", inplace=True)
    pbar=tqdm(range(45))
    for i in range(len(idx)):
        for j in range(i, len(idx)):
            df[f"{idx[i]}"][f"{idx[j]}"]=len(subsets[i].intersection(subsets[j]))
            pbar.update(1)
    print("Union")
    s=subsets[0]
    union=[]
    union.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.union(subsets[i])
        union.append(len(s))
    print(union)
    print("Intersection")
    s=subsets[0]
    intersection=[]
    intersection.append(len(subsets[0]))
    for i in range(1, len(subsets)):
        s=s.intersection(subsets[i])
        intersection.append(len(s))
    print(intersection)
    df.loc["union"]=union
    df.loc["intersection"]=intersection
    return df

In [9]:
folder="subsets/fl_bert_25_06_2022_20:20:12/"
df=analyse_subsets(folder)
df.to_csv(folder+"analysis.csv")
df

55it [00:28,  1.90it/s]

Union
[6231513, 11532182, 15674528, 18948045, 21571716, 23677569, 25355311, 26706041, 27806114, 28723507]
Intersection
[6231513, 934331, 203945, 58753, 20652, 8653, 4184, 2136, 1199, 750]

55it [00:55,  1.00s/it]

,0,15000,30000,45000,60000,75000,90000,105000,120000,135000
subsets,,,,,,,,,,
0,6231513,0,0,0,0,0,0,0,0,0
15000,934331,6235000,0,0,0,0,0,0,0,0
30000,934635,1361964,6235000,0,0,0,0,0,0,0
45000,934136,1334672,1443076,6235000,0,0,0,0,0,0
60000,935738,1319284,1422122,1482332,6235000,0,0,0,0,0
75000,935938,1309886,1411327,1482691,1557590,6235000,0,0,0,0
90000,935435,1301764,1393776,1470041,1563114,1694687,6235000,0,0,0
105000,935964,1289562,1374615,1454871,1553665,1705299,1776576,6235000,0,0
120000,935214,1285137,1373694,1449043,1549421,1705556,1780921,1834384,6235000,0
135000,936262,1278971,1367864,1444679,1543711,1703373,1780215,1835966,1860195,6235000
union,6231513,11532182,15674528,18948045,21571716,23677569,25355311,26706041,27806114,28723507
intersection,6231513,934331,203945,58753,20652,8653,4184,2136,1199,750